.delete-episode {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: scroll;
  
    @media screen and (min-width: 998px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 700px;
      padding: 2rem;
    }
    .delete-episode-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h2 {
        max-width: 85%;
      }
  
      img {
        cursor: pointer;
      }
    }
  
    form {
      max-height: 85vh;
    }
  
    .loading {
      margin: 0 auto;
    }
  }
  