label {
  color: var(--primary-text-color);
  &.error {
    input {
      border: 1px solid var(--error-color);
    }
  }

  &:not(.error) {
    input:focus {
      border: 1px solid var(--primary-color);
    }
  }

  input {
    border: 1px solid #ccc;
    color: var(--secondary-text-color);
    padding: 0.75rem 1rem;
    font-size: 1rem;

    &::placeholder {
      font-size: 14px;
    }

    &:disabled {
      color: #aaa;
    }
  }
}
