.password-input-wrapper {
    position: relative;
  
    img {
      position: absolute;
      top: 50%;
      right: 1rem;
    }

    label.error + img {
      top: 35%;
    }
    
    &:not(.hasLabel) img {
      top: 30%;
    }
  
    small {
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 0.25rem;
    }
  }