@font-face {
  src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
  font-family: Ubuntu;
}

:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  --primary-color: #6a3fa6;
  --primary-text-color: #091833;
  --secondary-text-color: #3d3d3d;
  --third-text-color: #777777;
  --error-color: #d43f3a;
  --success-color: #168310;
  --helper-color: #f2f2f2;
  --secondary-helper-color: #cccccc;
  --mui-primary-color: #1976d2;
}

html.light {
  --primary-text-color: #091833; // cor quando estiver no modo claro
  --secondary-text-color: #3d3d3d;
  --helper-color: #f2f2f2;
}

html.dark {
  --primary-text-color: #ffffff; // cor quando estiver no modo escuro
  --secondary-text-color: #ffffff;
  --helper-color: #091833;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

button,
a,
span {
  user-select: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

small.empty {
  color: var(--third-text-color);
}

.padding-2 {
  padding: 2rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  line-height: 1.4;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.border-radius-5 {
  border-radius: 5px;
}

.outline-none {
  outline: none;
}

.gap-25 {
  gap: 0.25rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-125 {
  gap: 1.25rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 0.5rem;
}

.gap-75 {
  gap: 0.75rem;
}

.pointer {
  cursor: pointer;
}

.bg-primary {
  background: var(--primary-color);
}
.bg-secondary {
  background: var(--secondary-color);
}
.bg-tertiary {
  background: var(--tertiary-color);
}
.primary-text-color {
  color: var(--primary-text-color);
}
.secondary-text-color {
  color: var(--secondary-text-color);
}

.decoration-none {
  text-decoration: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

table,
tr,
td,
th {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td,
th {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
  line-height: 1.4;
}

th {
  font-weight: bold;
}

.flex-1 {
  flex: 1;
}

.border-none {
  border: 0;
}

a {
  color: var(--primary-color);
}

p {
  line-height: 1.4;
}

p.error, span.error {
  color: var(--error-color);
}

span.action {
  color: var(--primary-color);
  &.blue {
    color: #0250bb;
  }
}

.container {
  width: 100%;
  @media screen and (min-width: 998px) {
    padding: 0;
    margin: 0 auto;
    width: 85%;
  }
}

.slide-left {
  animation: .2s slide-left;
}
.slide-right {
  animation: .2s slide-right;
}
@keyframes slide-left {
  from {
    transform: translate(100%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translate(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

.MuiFormControl-root, input {
  max-height: 8rem;
  overflow: scroll;
}