.create-project-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;

  @media screen and (min-width: 998px) {
    margin: auto;
    padding: 0 7.5%;
  }

  .loading {
    margin: 0 auto;
  }

  button {
    width: 200px;
    margin-left: auto;
  }
}
