.project {
  padding: 0 1rem;
  .project-info {
    padding: 0 0 3rem;

    .visiblidade {
      color: var(--secondary-text-color);
      font-size: 14px;
      margin-right: .5rem;
      svg {
        max-width: 16px;
      }
    }

    .project-description {
      padding-top: 1rem;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      max-width: 800px;
      word-wrap: break-word;
    }

    .project-header {
      .project-name {
        max-width: 700px;
        margin-right: auto;
      }
    }

    .project-description {
      ol, ul {
        padding-left: 1.3rem;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-right {
        text-align: right;
      }
    }
    .buttons-container {
      min-width: max-content;
    }
    .project-proprietario {
      font-size: 1rem;

      span {
        font-weight: bold;
      }
    }
  }
}
