.updatesListContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background: #fff;
    
    @media screen and (min-width: 998px) {
      border: 1px solid var(--secondary-text-color);
      max-width: 40%;
    }
  
    .updatesListContainerHeader {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .updatesList {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .update {
        cursor: pointer;
        display: flex;
        gap: 1rem;

        &:hover {
          .updateContent {
  
            p.updateDescription {
              color: var(--primary-color);
            }
          }
        }
  
        .updateContent {
  
          p.updateDescription {
            transition: .1s linear;
            color: var(--secondary-text-color);
          }

          img {
            max-width: 24px;
          }
        }
      }
    }
  }
  