.forgot-password-form {
  
    p.reset-instructions {
      color: var(--secondary-text-color);
  
      span {
        color: var(--primary-color);
      }
    }
  
    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--primary-text-color);
    }
  }