label {
  &.error {
    input {
      border: 1px solid var(--error-color);
    }
  }

  &:not(.error) {
    input:focus {
      border: 1px solid var(--primary-color);
    }
  }

  select {
    background: #fff;
    border: 1px solid #ccc;
    color: var(--secondary-text-color);
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
