.create-scenario-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: scroll;
    @media screen and (min-width: 998px) {
      margin: 2.5% auto;
      width: 700px;
      padding: 2rem;
    }

    form {
      max-height: 85vh;
    }
    
    .loading {
      margin: 0 auto;
    }
  
    .actors,
    .exceptions,
    .resources {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      button {
        background: var(--helper-color);
        color: var(--primary-text-color);
        width: max-content;
        cursor: pointer;
      }
    }
  }
  