.episodes-list {
  display: flex;
  align-items: center;

  ul,
  ol {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;

    li {
      width: max-content;
    }
  }

  ul {
    list-style-type: square;
  }
}
