.scenario {
  padding: 2rem;
  color: var(--secondary-text-color);
  min-width: 500px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  font-size: 1.15rem;
  svg {
    max-width: 1.25rem;
  }
  img.scenario-options-button {
    top: 2rem;
    right: 2rem;
  }

  small.empty {
    color: var(--third-text-color);
  }

  p {
    line-height: 1.5;
  }

  th {
    p {
      width: max-content;
    }
  }
  
  .scenario-header {
    h2 {
      font-size: 2rem;
      color: var(--primary-text-color);
      max-width: 85%;
    }
  }
  
  .scenario-details {
    h3 {
      color: var(--primary-text-color);
    }
    @media screen and (min-width: 998px) {
      grid-template-columns: 15% 85%;
    }

    .scenario-context, .scenario-resources {
      .scenario-context-details, .scenario-resources-details {
        th {
          line-height: 1.25;
        }
        ul {
          list-style: disc;
          padding-left: 1rem;
        }
      }
    }

    .restrictions {
      ul {
        padding-top: 1rem;
      }
    }

    .add-restriction, .add-resource, .add-episode {
      text-decoration: underline;
      color: #0250bb;
      width: max-content;
    }
    
    .scenario-actors,
    .scenario-exceptions {
      ul {
        list-style-type: disc;
        padding-left: 1rem;
      }
    }

    .scenario-episodes-details, .scenario-context-details, .scenario-resources-details {
      margin-top: -1rem;
    }
  }
}
