.scenarios-list-container {
  overflow: hidden;
  .scenarios-list {
    padding-right: 0.75rem;
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .loading {
        margin: 0 auto;
      }
    }
    .no-scenarios {
      font-size: 1.5rem;
      color: var(--secondary-text-color);
      position: absolute;
      left: 50%;
    }
  }
}
