.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .project-info {
    padding: 0 0 3rem;

    .project-description {
      padding-top: 1rem;
      font-size: 1.25rem;
      margin-bottom: .5rem;
      max-width: 800px;
    }

    .project-header{
      display: flex;
      gap: 4rem;
      align-items: flex-start;
      position: relative;

      .project-name {
        max-width: 700px;
      }
    }

    .project-description {
      ol, ul {
        padding-left: 1.3rem;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-right {
        text-align: right;
      }
    }
    .project-options {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      position: relative;
      img {
        cursor: pointer;
      }
    }
    .buttons-container {
      min-width: max-content;
      margin-left: auto;
      display: flex;
      gap: 1rem;
    }
    .project-owner {
      display: flex;
      gap: .5rem;
      align-items: center;
      font-size: 1rem;
      color: var(--primary-color);
    }
  }

  .scenarios-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;

    .scenarios-container-header {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      gap: 1rem;
      @media screen and (min-width: 998px) {
        margin-bottom: unset;
      }

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .scenarios-content {
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 1.5rem;
      position: relative;

      & > :only-child {
        grid-column: 1 / -1; /* Faz o único filho ocupar toda a largura */
      }
    }
  }
}
