.project {
  padding: 0 1rem;
  .project-info {
    padding: 0 0 3rem;

    .project-description {
      padding-top: 1rem;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      max-width: 800px;
      word-wrap: break-word;
    }

    .project-header {
      .project-name {
        max-width: 700px;
      }
    }

    .project-description {
      ol, ul {
        padding-left: 1.3rem;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-right {
        text-align: right;
      }
    }
    .project-options {
      margin-left: auto;
    }
    .buttons-container {
      min-width: max-content;
    }
    .project-owner {
      font-size: 1rem;
    }
  }
}
