.update-user-form {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
    padding-bottom: 3rem;
    
    @media screen and (min-width: 998px) {
      margin: 0 auto 0 0;
      width: 60%;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  
    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--primary-text-color);
    }

    .MuiAccordionDetails-root {
      padding-bottom: 2rem;
    }

    .flex.column {
      & > button {
        width: 200px;
        margin-left: auto;
      }
    }
  
    p.update-user {
      color: var(--secondary-text-color);
    }

    .loading {
      margin: 0 auto;
    }
  }