.login-banner {
    background: var(--primary-color);
    padding: 2rem;

    @media screen and (min-width: 998px) {
        padding: 0 7.5%;
        align-items: flex-start;
        height: 95vh;
        width: 50%;
    }

    img {
        max-width: 100%;
    }

    .content {
        color: #fff;
        gap: 1rem;
        text-align: center;

        @media screen and (min-width: 998px) {
            text-align: left;
        }

        h2 {
            font-size: 2rem;
            font-weight: bold;

            @media screen and (min-width: 998px) {
                text-align: left;
                font-size: 3rem;
            }
        }

        p {
            font-size: 20px;
        }
    }
}
