.button {
    border-radius: 5px;
    outline: none;
    padding: .75rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .2s;
    
    &.primary {
        background: var(--primary-color);
        color: #fff;
        border: 2px solid var(--primary-color);
    }
    &.secondary {
        color: #fff;
        background: var(--primary-text-color);
        border: 2px solid var(--primary-text-color);
    }
    
    &:hover {
        transform: scale(1.02);
    }
}