.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  
    .formGroup {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      label, input, textarea, select {
        flex: 1;
        width: 100%;
      }
    }
  }
  