.rich-text-editor {
  &.error {
    .ql-toolbar, .ql-container {
      border: 1px solid var(--error-color);
    }
  }
  .ql-toolbar {
    border-radius: 5px 5px 0 0;
  }
  .ql-container, .ql-editor {
    border-radius: 0 0 5px 5px;
  }
  .ql-editor,
  .ql-toolbar {
    background-color: white;
    font-size: 1rem;
    color: var(--secondary-text-color);
  }

  .ql-container {
    height: 300px;
  }

  & > p {
    span:not(.error) {
      color: #b5b5b5;
    }
  }
}
